/* about section */
.col-md-6{
    background-color: rgb(255, 255, 255);
}
.section_about{
    width: 100%;
    padding: 10px 100px;
}
h1{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 3px;
}
.col-md-6 p{
    color: #000;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.63px;
}
.btn{
    border-radius: 8px;
    background: #FF6300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px; 
    border: #FF6300;
}
/* FAQ */
.faq_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 11%;
    background: #FCEBEC;
    gap: 2rem;
}
.faq_title {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.2rem;
    letter-spacing: 0.12rem;
    margin-bottom: 5rem;
}
#Q_style{
    color: #FF6300;
}
.faq {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.quistion {
    width: 100%;
    cursor: pointer;
    padding: 2.4rem;
    border-radius: 0.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quistion img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.5s ease;
}
.quistion span {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    line-height: 155.556%;
    font-weight: 700;
}
.ansre {
    border-radius: 0.8rem;
    background: #FF6300;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
}
.ansre p {
    padding: 2.4rem;
    color: #060505;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 171.429%;
    letter-spacing: 0.05rem;
}
.faq.active .ansre {
    max-height: 40rem;
    transition: max-height 0.9s ease;
}
.faq.active .quistion img {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.faq_bady1{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;  
}
.faq_bady2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;  
}
.bg_0{
    background-color: unset !important;
}